.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  margin-top: 120px;
  font-size: 10px;
  line-height: 12px;
  border-top: 2px solid rgba(22, 49, 82, 0.1);
  background-color: #00c6bd;
  background-color: #fdfdff;
  @media (max-width: 1024px) {
    margin-top: 60px;
  }

  @media (max-width: 767px) {
    margin-top: 20px;
  }
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-wrap: wrap-reverse;
  gap: 60px;
}

.footer-column {
  width: 175px;
}

.page-footer .logo {
  width: 100px;
  height: 106px;
  margin-bottom: 30px;
}

.footer-navigation-topics {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 16px;
}

.footer-navigation-topic {
  min-width: 115px;
  max-width: none;
  max-width: 175px;
}

.footer-navigation-topic h2 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.footer-navigation {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-navigation-item {
  margin-bottom: 12px;
}

.footer-navigation-item:last-child {
  margin-bottom: 0;
}

.footer-navigation-item a {
  color: #163152;
  text-decoration: none;
}

.footer-navigation-item a:hover {
  color: rgba(22, 49, 82, 0.5);
}

.footer-navigation-item a:active {
  color: rgba(22, 49, 82, 0.3);
}

.policy {
  margin: 0;
  margin-bottom: 8px;
}

.policy a {
  color: #163152;
  text-decoration: none;
}

.policy a:hover {
  color: rgba(22, 49, 82, 0.5);
}

.policy a:active {
  color: rgba(22, 49, 82, 0.3);
}

.copyright {
  margin: 0;
}
